Package: st7920
Version: 1.0.1
Architecture: all
Maintainer: Kai Staud <kai-staud@web.de>
Installed-Size: 7
Depends: dkms (>= 2.1.0)
Section: misc
Priority: optional
Description: Hello World Kernel Module - DKMS
 This package provides a simple hello-world kernel module using DKMS.
