Source: st7920
Section: misc
Priority: optional
Maintainer: Kai Staud <kai-staud@web.de>
Build-Depends: debhelper (>= 11), dkms,git,cmake,make,debhelper-compat (=13)
Standards-Version: 3.9.8

Package: st7920
Architecture: all
Depends: dkms (>= 2.1.0)
Description: Hello World Kernel Module - DKMS
 This package provides a simple hello-world kernel module using DKMS.
