Source: st7920
Section: misc
Priority: optional
Maintainer: Kai Staud <kai-staud@web.de>
Build-Depends: debhelper (>= 11), dkms,git,cmake,make,debhelper-compat (=13),libtest-dev,libgmock-dev
Standards-Version: 3.9.8

Package: st7920-dkms
Architecture: all
Depends: dkms (>= 2.1.0)
Description: kernel driver for st7920 (128x64) glcd

Package: st7920-tools
Architecture: all
Depends: 
Description: glcd testing utils 